@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200&display=swap');

:root {
  --verde: #0c443a;
  --limon: #25d1b2;
  --blanco: #fff;
  --celeste: #4975ce;
  --degradado: linear-gradient(90deg, var(--celeste), var(--limon));
}

::selection {
  background: var(--limon);
  color: white;
}

html {
  font-size: 62.4%;
  overflow: hidden;
}

body {
  background: #f9f9f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: var(--blanco);
}

header .logo span {
  color: var(--blanco);
}

header .navbar a {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--blanco);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: none;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

::selection {
  background: var(--celeste);
  color: white;
}

html {
  font-size: 62.4%;
  overflow: hidden;
}

body {
  background: #f9f9f9;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.8rem;
  padding: .8rem 4rem;
  color: #fff;
  border-radius: 5rem;
  background: var(--degradado);
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all .3s linear;
}

btn:hover {
  transform: scale(1.1);
}

.boton1 {
  background: #B3B6B7;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  display: block;
  border-radius: 5%;
}

.boton2 {
  background: #FF8000;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  display: block;
  border-radius: 5%;
}

.boton3 {
  background: #607D8B;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  display: block;
  border-radius: 5%;
}

.heading {
  text-align: center;
  background: var(--verde);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: var(--blanco);
}

header .logo span {
  color: var(--blanco);
}

header .navbar a {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--blanco);
}

header .navbar a:hover {
  color: var(--blanco);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--blanco);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.inicio .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}

/*@keyframes float{
  0% , 100%{
    transform: translateY(0rem);

  }
  50%{
    transform: translateY(-3.5rem);
  }
}*/

.inicio .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}

.inicio .content h3 span {
  color: var(--rojo);
}

.inicio .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.detalles .caja-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.detalles .caja-contenedor .caja {
  flex: 1 1 30rem;
  background: white;
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rch;
  border-radius: .5rem;
  text-align: center;
  transition: .2s linear;
}

.detalles .caja-contenedor .caja h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.detalles .caja-contenedor .caja p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}


@media (max-width: 767px) {
  footer .col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  footer .col {
    width: 100%;
  }
}

@media (max-width: 767px) {
  header label {
    visibility: visible;
    opacity: 1;
  }
  header input:checked~.navbar {
    transform: translateX(0%);
  }
  header .navbar {
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100;
    height: 100vh;
    background: var(--verde);
    padding: 2rem;
    text-align: center;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }
  header input:checked~.navbar a {
    color: var(--blanco);
    margin: 1rem 0;
  }
}
